* {
  margin: 0;
  padding: 0;
}
/* page sections 
*/
body {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  border-top: #1098ad solid 15px;
}
nav {
  text-align: center;
}

article {
  margin-bottom: 60px;
}

.main-header {
  background-color: rgb(228, 232, 227);
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;

  height: 80px;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

aside {
  background-color: #f7f7f7;
  border-top: #1098ad solid 5px;
  border-bottom: #1098ad solid 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

/* smller elemets
*/
h1,
h2,
h3,
h4,
p,
li {
}

h1 {
  color: #1098ad;
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  padding-top: 20px;
  font-size: 40px;
  margin-bottom: 20px;
  color: #1098ad;
  position: relative;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #1098ad;
  margin-top: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;

  line-height: 1.5;
}

footer {
  font-size: 16px;
}
#author {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 10px;
}

.first-img {
  width: 100%;
  height: auto;
}

#copyright {
  font-size: 18px;
}

.related_authors {
  font-style: italic;
  font-size: 16px;
}

.post_related {
  list-style: none;
}

aside {
  background-color: #f7f7f7;
  width: 500px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  /* color: red; */
  margin-bottom: 0;
}

article p:last-child {
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 30px;
}
/* it is important part and always the same order */
a {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline cornflowerblue;
}

a:active {
  background-color: black;
  font-style: italic;
}

.text-content {
  margin-bottom: 20px;
}

img {
  margin-bottom: 20px;
}

.html-intro {
  margin-bottom: 10px;
}

nav a:link {
  /* background-color: orangered;
  margin: 20px;
  padding: 20px;
  display: block; */
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

.like {
  right: 100px;
  font-size: 50px;
  top: 2000px;
  position: absolute;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* h2::first-letter {
} */

h3 + p::first-line {
  color: red;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: black;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  right: -25px;
  position: absolute;
}

/* resolving condflict */

/* 
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */

/* * {
  background-color: slategrey !important;
} */
